/* app css stylesheet */

.container {
  padding: 0 10px;
  position: relative;
}
.right {
  float: right;
  margin-right: 40px;
  overflow: visible;
}

.arrow {
  position: relative;
}
.arrow .body, .arrow .head {
  top: 0;
}

.arrow:hover * {
  background: #EEE;
}

.arrow .body {
  display: inline-block;
  border: solid 2px #CCC;
  border-left: none;
  border-radius: 0 5px 5px 0
}
.arrow .body a {
  padding: 2px 5px 1px;
}
.arrow .head {
  content: '';
  border-right: solid 2px #ccc;
  border-top: solid 2px #ccc;
  border-radius: 5px;
  position: absolute;
  height: 18px;
  width: 18px;
  transform: rotate(-135deg);
  left: -10px;
  top: 3px;
  z-index: -1;
}

h1 {
  border-bottom: solid 1px #333;
  padding: 10px 40px;
}

h2 {
  font-size: 2em;
  margin: 8px 0 4px;
  line-height: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-container {
  overflow: hidden;
}

.post-container:nth-child(2n+1) {
  background: #EEE;
}

.author-and-published {
  line-height: 2em;
  margin-bottom: 1em;
}

.author-and-published .spacer {
  margin: 0 10px;
}

.post-container .image-container,
.flickr-post .image-container{
  width: 200px;
  float: left;
  text-align: center;
  overflow: hidden;
  border: solid 1px black;
  box-sizing: border-box;
  background: #222;
  position: relative;
  margin-right: 20px;
}

.post-container .image-container:hover {
  overflow: visible;
}

.post-container .image-container img {
  height: 125px;
}

.flickr-post .image-container img {
  width: 200px;
}


.post-container .details-container,
.flickr-post .details-container {
  width: calc(100% - 220px);
  float: left;
}

.flickr-post .details-container pre {
  margin-top: 0;
}
.post-container .details-container .details .author,
.post-container .details-container .details .published,
.post-container .details-container .details .link {
  display: inline-block;
  padding-right: 10px;
}

.tags {
  margin-top: 20px;
}

.tags .title {
  width: 40px;
  display: inline-block;
  vertical-align: top;
}
.tags .tag-container {
  display: inline-block;
  margin-left: 10px;
  width: calc(100% - 55px)
}

.tags .tag-container a {
  margin-right: 20px
}

@media (max-width: 800px) {
  .post-container .details-container .details {
    margin-top: 1.5em;
    position: relative;
  }

  .post-container .details-container .details .published {
    position: absolute;
    display: block;
    left: 0;
    top: -1.5em;
  }

  .post-container .details-container * {
    line-height: 1.5em;
  }

}
@media (min-width: 801px) {
  .post-container .details-container * {
    line-height: 2em;
  }
}